<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Desription:</b>
  <%= @product.desription %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Image:</b>
  <%= @product.image %>
</p>

<p>
  <b>Gender:</b>
  <%= @product.gender %>
</p>

<p>
  <b>Style:</b>
  <%= @product.style %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
